body {
            margin: 0;
        }

html { 
  background: url(/der_mond/assets/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#home_button{
	position: absolute;
	left:20px;
	top:20px;
}

#menu_button{
	position: absolute;
	right:20px;
	top:20px;
}